@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 84, 251);
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

main {
    margin: auto;
    background-color: white;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.363);

    width: 80vw;
    max-width: 380px;
    height: fit-content;
}

#num {
    width: 100px;
}

#adici, #fina {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

#adici:hover, #fina:hover {
    background-color: black;
    color: white;
}

#hist {
    
    margin-top: 10px;
    width: 150px;
    padding: 2px;

    border: 1.5px solid black;
}

#fina {
    display: block;
    margin-top: 10px;
}

#total {
    margin-top: 20px;
}

.res {
    text-align: center;
    margin-bottom: 10px;
}
